/* 把畫面置中，並且保留兩側的留白 max-width + margin left right auto */
.home{
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
}

.row{
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
    margin-left: 10px;
    margin-right: 10px;
}



.home_image{
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
    margin-bottom: -120px;
    z-index: -1;
    
}